<div class="container clusters">

  <div class="row text-center text-lg-left" style='text-align: center!important;'>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
        <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal1">
          <%=image_tag("clu2/54/9pants.jpg")%>
        </a>
      </div>
      <div class='pr_desc'>
      첫번째 <a style='color: #f88379;'>이거</a><br>
      
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </span>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal2">
        <%=image_tag("clu2/8.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      두번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            </span>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal3">
        <%=image_tag("clu2/58.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      세번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal4">
        <%=image_tag("clu2/7.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      네번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal5">
        <%=image_tag("clu2/30.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      다섯번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
        <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal6">
          <%=image_tag("clu2/3.jpg")%>
        </a>
      </div>
      
      <div class='pr_desc'>
      여섯번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal7">
        <%=image_tag("clu2/9.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      일곱번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal1">
        <%=image_tag("clu2/15.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      여덟번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
  </div>
  
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style = 'text-align: left;'>
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title">이건 어때?</h4>
        </div>
        <div class="modal-body">
          <div class='modal-body modal-left'><%=image_tag("clu2/54/9pants.jpg")%>
              <h6>남성 9부 린넨 전체 밴딩 바지</h6>
              <p>￦29,000</p></div>
          <div class='modal-body modal-left'><%=image_tag("clu2/54/black_flower.jpg")%>
              <h6>흑백꽃 나염 반팔 티셔츠</h6>
              <p>￦17,500</p></div>
          <div class='modal-body modal-right'><%=image_tag("clu2/54/gardi.jpg")%>
              <h6>여 브이넥 스웨터 가디건</h6>
              <p>￦59,800</p></div>
          <div class='modal-body modal-right'><%=image_tag("clu2/54/kneepants.jpg")%>
              <h6>S/S 가먼트 다잉 변형 무릎절개 워싱 면바지</h6>
              <p>￦79,000</p></div>
          <div class='modal-body modal-desc'>유사한 고객님들의 구매 목록들을 분석하여 4개의 품목을 추천해드렸습니다.</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal8" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>