<div class="container clusters">

  <div class="row text-center text-lg-left" style='text-align: center!important;'>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
        <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal1">
          <%=image_tag("27/10/batsweat.jpg")%>
        </a>
      </div>
      <div class='pr_desc'>
      첫번째 <a style='color: #f88379;'>이거</a><br>
      
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            </span>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal2">
        <%=image_tag("clu1/29.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      두번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            </span>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal3">
        <%=image_tag("clu1/39.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      세번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal4">
        <%=image_tag("clu1/56.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      네번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal5">
        <%=image_tag("clu1/58.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      다섯번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
        <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal6">
          <%=image_tag("clu1/43.jpg")%>
        </a>
      </div>
      
      <div class='pr_desc'>
      여섯번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal7">
        <%=image_tag("clu1/9.JPG")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      일곱번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
    <div class="col-lg-3 col-md-4 col-xs-6">
      <div class='one_cluster'>
      <a href="#" class="d-block mb-4 h-100" data-toggle="modal" data-target="#myModal1">
        <%=image_tag("clu1/4.jpg")%>
      </a>
      </div>
      
      <div class='pr_desc'>
      여덟번째 <a style='color: #f88379;'>이거</a><br>
      <a style='font-size: 15px;'>추천도</a>
      <span><i class="fas fa-star-half-alt"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            </span>
      </div>
    </div>
    
  </div>
  
  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" style = 'text-align: left;'>
          <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
          <h4 class="modal-title">이건 어때?</h4>
        </div>
        <div class="modal-body">
          <div class='modal-body modal-left'><%=image_tag("27/10/batsweat.jpg")%>
              <h6>배트맨스웨트티</h6>
              <p>￦35,000</p></div>
          <div class='modal-body modal-left'><%=image_tag("27/10/iceshark.jpg")%>
              <h6>악어 드로잉 티</h6>
              <p>￦15,000</p></div>
          <div class='modal-body modal-right'><%=image_tag("27/10/croco.jpg")%>
              <h6>아이스샤크 민소매 무형광 쟈가드 실내복 상하의세트</h6>
              <p>￦9,900</p></div>
          <div class='modal-body modal-right'><%=image_tag("27/10/ggomji.jpg")%>
              <h6>J장안밀키(5족)세트 유아동양말</h6>
              <p>￦9,500</p></div>
          <div class='modal-body modal-desc'>유사한 고객님들의 구매 목록들을 분석하여 4개의 품목을 추천해드렸습니다.</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal5" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal6" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal7" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="myModal8" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>현재 준비중으로 '첫번째 이거'만 보실 수 있습니다..ㅠㅠ</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class='index-main' style='padding-bottom: 5%;'><a href='/cluster2'><button>다음으로!</button></a></div>
</div>